.show{
    display: grid;
}
.hide{
    display: none;
}
body{
    background-color: rgb(255, 170, 0);
    text-align: center;
}

#sizebar{
    display: grid;
    grid-template-columns: repeat(70px, 1fr);
    background-color: red;
    border: 2px solid black;
}
#sizeWord{
    display: grid;
    grid-template-columns: repeat(70px, 1fr)
}
#sizebar > *{
    background-color: green;
}
